<div class="row">
  <div class="col">
    <input type="text">
    <p class="underInput">CHARACTER NAME</p>
  </div>
  <div class="col">
    <input type="text">
    <p class="underInput">CLASS & LEVEL</p>
    <input type="text">
    <p class="underInput">RACE</p>
  </div>
  <div class="col">
    <input type="text">
    <p class="underInput">BACKGROUND</p>
    <input type="text">
    <p class="underInput">ALIGNMENT</p>
  </div>
  <div class="col">
    <input type="text">
    <p class="underInput">PLAYER NAME</p>
    <input type="text">
    <p class="underInput">EXPERIENCE POINTS</p>
  </div>
</div>