<div class="contentComponent">
  <div class="row">
    <div class="col-5">
      <p>NAME</p>
    </div>
    <div class="col-2">
      <p>ATK BONUS</p>
    </div>
    <div class="col">
      <p>DAMAGE/TYPE</p>
    </div>
  </div>

  <div class="row" *ngFor="let weapon of weaponList; index as w">
    <div class="col-6" >
      <select class="form-select" (input)="onSelect($event, weapon.row)"
        aria-label="Default select example">
        <option selected>No weapon</option>
        <option *ngFor="let equipment of weaponsFiltered">
          {{equipment.name}}
        </option>
      </select>
    </div>
    <div class="col-1">
      <div *ngIf="weapon.hideRow !== true">
        {{weapon.atkBonus}}
      </div>
    </div>
    <div class="col">
      <div *ngIf="weapon.hideRow !== true">
        {{weapon.damageType}}
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-5">
      <p>NAME</p>
    </div>
    <div class="col-2">
      <p>AC</p>
    </div>
    <div class="col">
      <p>DESCRIPTION</p>
    </div>
  </div>

  <div class="row" *ngFor="let armor of armorList">
    <div class="col-6" >
      <select class="form-select" (input)="onSelect($event, armor.row)"
        aria-label="Default select example">
        <option selected>No armor</option>
        <option *ngFor="let equipment of armorsFiltered">
          {{equipment.name}}
        </option>
      </select>
    </div>
    <div class="col-1">
      <div *ngIf="armor.hideRow !== true">
        {{armor.classArmorWithBonusDex}}
      </div>
    </div>
    <div class="col">
      <div *ngIf="armor.hideRow !== true">
        {{armor.description}}
      </div>
    </div>
  </div>

  <textarea class="form-control" id="exampleFormControlTextarea1" rows="6"></textarea>
  <p class="textBold">ATTACKS & SPELLCASTING</p>
</div>